.content{
  margin: 1% 2% ;
}
.logo{
  width: 10%;
}
.uikit-datagrid {
  .MuiDataGrid-dataContainer {
    .MuiDataGrid-cell {
      font-size: 1rem;
      font-family: "Roboto", "Helvetica", "Arial", sans-serif;
      font-weight: 400;
      letter-spacing: 0.00938em;
    }
  }
}